<content-header></content-header>

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"></h3>
            
        </div>
        <div class="box-body table-responsive">
            <table id="bonosPagados" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th colspan="20">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group" style="display:inline-flex;">
                                        <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
                                    
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-primary pull-right  fa fa-user" ng-click="modalUsuario('/pages/Usuarios/crearUsuario.html','md',{})" style="margin-right:15px;"> Crear Usuario</button>
                                </div>
                            </div>
                            
                        </th>

                    </tr>
                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Usuario</th>
                        <th class="text-center">Nombre Completo</th>
                        <th class="text-center">Rol</th>
                    </tr>
                </thead>
                <!--Cuerpo de la tabla-->
                <tbody>
                    <tr dir-paginate="u in usuarios | filter: search  | itemsPerPage: 10" pagination-id="pagados">
                        <td class="text-center">{{u.Id}}</td>
                        <td class="text-center">{{u.NombreUsuario}}</td>
                        <td class="text-center">{{u.NombreCompleto}}</td>
                        <td class="text-center">{{u.Rol.Descripcion}}</td>
                        <td class="text-center" ng-hide="authentication.usuario.rol.descripcion === 'Empleado'">
                            <a ui-sref="master.bonoDetail({id: b.id})"><span class="fa fa-pencil" title="Editar"></span></a> |
                            <a href ng-click="borrarUsuario(u.Id)"><span class="fa fa-times text-danger" title="Eliminar"></span></a>
                        </td>
                    </tr>
                </tbody>
                <!--Fin cuerpo de la tabla-->
            </table>
            <dir-pagination-controls></dir-pagination-controls>

        </div>
        <!-- /box-body -->
    </div>
    <!-- /box-primary -->
</section>
<!-- content -->