<!doctype html>
<html ng-app = "rodriguez">
  <head>
    <!-- Bootrstap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div ng-controller="MainController as main">
      <form novalidate name="form">
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here" required>
        <button type="submit">Enviar</button>
      </form>
      {{form.$valid}}
      <hr>
      <h1>Hello {{yourName}}!</h1>
      usuario: {{main.usuario.nombre}} </br>
      edad: {{main.usuario.edad}}
      <div super-man-att></div>
      <super-man-el></super-man-el>

      <ul>
        <li ng-repeat="v in main.values">{{v}}</li>
      </ul>
    </div>

    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./Scripts/app.js"></script>
    <script src="./Scripts/directive.js"></script>
    <!--FIN SCRIPTS-->
  </body>
</html>