<form name="agregarCategoria" autocomplete="off" ng-submit="agregarCategoria.$valid && categoria.crearCategoria()" novalidate>
    <div class="modal-content">
        <div class="box box-success">
            <div class="box-body" style="display: block; padding: 0;">
                <!-- .modal-header -->
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$close()">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <h4 class="modal-title">Agregar Categoria Nueva</h4>
                </div>
                <!-- /.modal-header -->

                <!-- .modal-body -->
                <div class="modal-body">
                    <!--alerta de error-->
                    <div class="alert alert-danger alert-dismissable" ng-show="agregarCategoria.$submitted && !agregarCategoria.$valid">
                        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Corrija los errores antes de continuar.
                    </div>
                    <!-- / .alert-->
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="descripcion" class="form-control" placeholder="¿Cuál es la categoria?" ng-model="categoria.descripcion"
                                required>
                            <span class="text-danger" ng-show="agregarCategoria.$submitted && !agregarCategoria.descripcion.$valid">Debe darle nombre a la categoria</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .box-footer-->
            <div class="box-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="$close()"><i class="fa fa-times"></i> Cerrar</button>
                <input type="submit" class="btn btn-success pull-right" value="Crear">
                <!--<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o"></i> Crear</button>-->
            </div>
            <!-- /. box-footer-->
        </div>
    </div>
</form>