
<form name="agregarProducto" autocomplete="off" ng-submit="agregarProducto.$valid && crearProducto()" novalidate>
    
    <div class="modal-content">
        <div class="box box-success">
            <div class="box-body" style="display: block; padding: 0;">
                <!-- .modal-header -->
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$close()">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                    <h4 class="modal-title">Agregar Producto</h4>
                </div>
                <!-- /.modal-header -->

                <!-- .modal-body -->
                <div class="modal-body">
                    <!--alerta de error-->
                    <div class="alert alert-danger alert-dismissable" ng-show="agregarProducto.$submitted && !agregarProducto.$valid">
                        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>Error!</strong> Corrija los errores antes de continuar.
                    </div>
                    <!-- / .alert-->
                    <div class="col-xs-12">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" name="nombre" class="form-control" placeholder="¿Cuál es el producto?" ng-model="producto.nombre" required>
                                <span class="text-danger" ng-show="agregarProducto.$submitted && !agregarProducto.nombre.$valid">Debe darle nombre al producto</span>
                            </div>

                            <div class="form-group">
                                <label>Categoría</label>
                                <select name="categoria" class="form-control" ng-options="c as c.descripcion for c in categorias track by c.id" ng-model="producto.categoria" required>
                                    <option value="">Seleccione una Categoría</option>
                                </select>
                                <span class="text-danger" ng-show="agregarProducto.$submitted && agregarProducto.categoria.$error.required">Debe elegir una categoría</span>
                            </div>

                            <div class="form-group">
                                <label>Medida</label>
                                <select name="medida" class="form-control" ng-options="m as m.descripcion for m in medidas track by m.id" ng-model="producto.medida" required>
                                    <option value="">Seleccione una Medida</option>
                                </select>
                                <span class="text-danger" ng-show="agregarProducto.$submitted && agregarProducto.medida.$error.required">Debe elegir la ud. de medida</span>
                            </div>

                    </div>
                </div>
                <!-- /.modal-body -->

                
            </div>
            <!-- .box-footer-->
            <div class="box-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="$close()"><i class="fa fa-times"></i> Cerrar</button>
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o"></i> Crear</button>
            </div>
            <!-- /. box-footer-->
            
        </div>
    </div>
</form>
