<content-header></content-header>
<section class="content">

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Productos y Categorias Disponibles para Listas de Compras</h3>
        </div>
        <div class="box-body">
            <!--Productos-->
            <div class="col-md-6 table-responsive">
                <table id="productos" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="20">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <button class="btn btn-success" ng-click="modalProducto('/pages/Productos/nuevoProducto.html','md',{})" type="button"><i class="fa fa-plus"></i>Nuevo Producto</button>
                                </span>
                                    <input type="text" class="form-control" placeholder="Buscar Producto" ng-model="searchProducto.nombre">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Ud. Medida</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <!--Cuerpo de la tabla-->
                    <tbody>
                        <tr dir-paginate="p in productos | filter: searchProducto | itemsPerPage: 10" pagination-id="productos">
                            <td class="text-center">{{p.id}}</td>
                            <td class="text-center">{{p.nombre}}</td>
                            <td class="text-center">{{p.categoria.descripcion}}</td>
                            <td class="text-center">{{p.medida.simbolo}}</td>
                            <td>
                                <a ng-click="borrar(p.id)" class="fa fa-trash text-danger"></a> | 
                                <a ng-click="editar(p.id)" class="fa fa-pencil text-primary"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="productos"></dir-pagination-controls>
            </div>
            <!--Fin Productos-->

            <!--Categorias-->
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="20">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <button class="btn btn-success" ng-click="modalCategoria('/pages/Productos/nuevaCategoria.html','md',{})" type="button"><i class="fa fa-plus"></i>Nueva Categoria</button>
                                </span>
                                    <input type="text" class="form-control" placeholder="Buscar Categoría" ng-model="searchCategoria.descripcion">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Nombre</th>
                        </tr>
                    </thead>
                    <!--Cuerpo de la tabla-->
                    <tbody>
                        <tr dir-paginate="c in categorias | filter: searchCategoria | itemsPerPage: 10" pagination-id="categorias">
                        <!--<tr ng-repeat="c in categorias">-->
                            <td class="text-center">{{c.id}}</td>
                            <td class="text-center">{{c.descripcion}}</td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="categorias"></dir-pagination-controls>
            </div>
            <!--Fin Categorias-->
        </div>
    </div>
</section>