<content-header></content-header>
<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Información Detallada del Bono Seleccionado</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="row">
                <table class="table table-responsive">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="witdh:20%;" class="text-right"><label>ID</label></td>
                            <td witdh=“30%”>{{bono.Id}}</td>
                            <td witdh=“20%” class="text-right"><label>Teléfono Comprador</label></td>
                            <td witdh=“30%”>{{bono.telefonoRemitente}}</td>
                            <td style="witdh:20%;" class="text-right"><label>Monto</label></td>
                            <td witdh=“30%”>{{bono.SimboloMonedaOriginal}} {{bono.Monto | currency}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><label>Fecha Compra</label></td>
                            <td>{{bono.FechaCompra | date:"dd-MMM-yyyy" }}</td>
                            <td class="text-right"><label>Destinatario</label></td>
                            <td>{{bono.Destinatario}}</td>
                            <td class="text-right"><label>Tasa Cambio</label></td>
                            <td>{{bono.Tasa | currency}}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><label>Comprador</label></td>
                            <td>{{bono.Remitente}}</td>
                            <td class="text-right"><label>Cédula Destinatario</label></td>
                            <td>{{bono.CedulaDestino}}</td>
                            <td class="text-right"><label>Monto RD$</label></td>
                            <td>RD$ {{bono.Monto * bono.Tasa | currency}}</td>
                        </tr>
                        <tr>
                            <td style="witdh:20%;" class="text-right"><label>Cédula Comprador</label></td>
                            <td witdh=“30%”>{{bono.CedulaRemitente}}</td>
                            <td style="witdh:20%;" class="text-right"><label>Telefono Destinatario</label></td>
                            <td witdh=“30%”>{{bono.TelefonoDestino}}</td>
                            <td style="witdh:20%;" class="text-right"><label>Estado</label></td>
                            <td witdh=“30%”>{{bono.EstadoBono}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="box-footer">
            <div ng-show="bono.EstadoBono === 'Comprado'" class="row col-md-offset-1">
                <button class="btn btn-primary btn-lg fa fa-list" ng-click="goto('.bonos', 0)" style="margin-right:15px;"> Regresar</button>
                <button class="btn btn-success btn-lg fa fa-money" ng-click="pagarBono(bono.Id)" style="margin-right:15px;"> Pagar</button>
            </div>
            <div ng-show="bono.EstadoBono === 'Cobrado'" class="row col-md-offset-1">
                <button class="btn btn-primary btn-lg fa fa-list" ng-click="goto('.bonos', 1)" style="margin-right:15px;"> Regresar</button>
                <button class="btn btn-warning btn-lg fa fa-print" ng-click="imprimirTicket(bono.Id, true)" style="margin-right:15px;"> Imprimir Ticket</button>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>