<content-header></content-header>
<section class="content">
    <h4 class="text-primary">Información Detallada del Bono Seleccionado</h4>
    <form class="form-horizontal">
        <div class="row">
        <div class="col-md-4 col-sm-6">
            <!--ID del bono-->
            <div class="form-group">
                <label class="control-label col-sm-6">ID:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.id}}</p>
                </div>
            </div>
            <!--fecha-->
            <div class="form-group">
                <label class="control-label col-sm-6">Fecha Compra:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.fechaCompra | date:"dd-MMM-yyyy" }}</p>
                </div>
            </div>
            <!--comprador-->
            <div class="form-group">
                <label class="control-label col-sm-6">Comprador:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.cliente.nombreCompleto}}</p>
                </div>
            </div>
            <!--cedula comprador-->
            <div class="form-group">
                <label class="control-label col-sm-6">Cédula Comprador:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.cliente.cedula}}</p>
                </div>
            </div>
            <!--telefono comprador-->
            <div class="form-group">
                <label class="control-label col-sm-6">Teléfono Comprador:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.cliente.celular}}</p>
                </div>
            </div>
            <!--destinatario-->
            <div class="form-group">
                <label class="control-label col-sm-6">Destinatario:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.nombreDestinoCompleto}}</p>
                </div>
            </div>
            <!--cedula destinatario-->
            <div class="form-group">
                <label class="control-label col-sm-6">Cédula Destinatario:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.cedulaDestino}}</p>
                </div>
            </div>
            <!--telefono destinatario-->
            <div class="form-group">
                <label class="control-label col-sm-6">Teléfono Destinatario:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.telefonoDestino}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-sm-6">            
            <!--monto-->
            <div class="form-group">
                <label class="control-label col-sm-6">Monto:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.tasa.moneda.simbolo}} {{bono.monto | currency}}</p>
                </div>
            </div>
            <!--tasa cambio-->
            <div class="form-group">
                <label class="control-label col-sm-6">Tasa Cambio:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.tasa.valor | currency}}</p>
                </div>
            </div>
            <!--monto RD$-->
            <div class="form-group">
                <label class="control-label col-sm-6">Monto RD$:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">RD$ {{bono.montoRD | currency}}</p>
                </div>
            </div>
            <!--estado-->
            <div class="form-group">
                <label class="control-label col-sm-6 text-left">Estado:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{bono.estadobono.descripcion}}</p>
                </div>
            </div>
            <!--metodo pago-->
            <!--<div class="form-group">
                <label class="control-label col-sm-6">Método Pago:</label>
                <div class="col-sm-6">
                    <p class="form-control-static"><i class="fa fa-credit-card" aria-hidden="true"></i>{{bono.metodoPago}}</p>
                </div>
            </div>-->
        </div>
        </div>
        <div class="row col-md-offset-1">
            <button class="btn btn-success btn-sm fa fa-money" ng-click="modalPagar('/pages/Bonos/pagarBono.html','md',{})">  Pagar</button>
            <button class="btn btn-danger btn-sm fa fa-trash-o" ng-click="eliminar()">  Eliminar</button>
        </div>
    </form>
</section>